<%- partial('partials/nav.ejs', {location: 'addafterschoolactivity'}) %>

<% var days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday'] %>

<div class="container">
    <h1>New After School Activity</h1>

    <div align="left">
        <form id="add-afterschool-activity-form">
            <div class="form-group">
                <label for="add-afterschool-activity-name">Name</label>
                <input type="text" class="form-control" id="add-afterschool-activity-name" required>
            </div>
            <div class="form-group">
                <label for="add-afterschool-activity-cost">Cost ($)</label>
                <input type="text" class="form-control" id="add-afterschool-activity-cost" required>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <% for(var i = 0; i < days.length; i++) { %>
                        <th><%= days[i].charAt(0).toUpperCase()+days[i].slice(1) %></th>
                    <% } %>
                </thead>
               <tbody align="left">
                    <tr>
                        <% for(var i = 0; i < days.length; i++) { %>
                            <td>
                                <fieldset class="form-group">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="add-options-<%= days[i] %>" value="checked">
                                        </label>
                                    </div>
                                </fieldset>
                            </td>
                        <% } %>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label for="add-afterschool-activity-start-month">Start Month</label>
                <input class="form-control" type="month" id="add-afterschool-activity-start-month" required>
            </div>
            <div class="form-group">
                <label for="add-afterschool-activity-end-month">End Month</label>
                <input class="form-control" type="month" id="add-afterschool-activity-end-month" required>
            </div>
            <button type="submit" class="btn btn-primary" onClick="createAfterSchoolActivity()">Submit</button>
        </form>
    </div>
</div>