<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home">Foundations Preschool Scheduler</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="home">Home</a></li>
                <li><a href="students">Students</a></li>
                <li><a href="rateschedules">Rate Schedules</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a onClick="signOut();">Sign Out</a>
                </li>
            </ul>
            <div class="g-signin2" style="display: none" data-onsuccess="onLogin"></div>
        </div>

        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div>
        <br/>
        <br/>
        <br/>
        <h1>New Rate Schedule</h1>
    </div>

    <div align="left">
        <form>
            <div class="form-group">
                <label for="add-rate-schedule-name">Name</label>
                <input type="text" class="form-control" id="add-rate-schedule-name" required>
            </div>
            <div class="form-group">
                <label for="cost">Cost</label>
                <input type="text" class="form-control" id="cost" required>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </thead>
                <tbody align="left">
                    <tr>
                        <td>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsMonday" id="optionsMondayNone" value="none" checked>
                                        None
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsMonday" id="optionsMondayHalf" value="half">
                                        Half
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsMonday" id="optionsMondayFull" value="full">
                                        Full
                                    </label>
                                </div>
                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsTuesday" id="optionsTuesdayNone" value="none" checked>
                                        None
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsTuesday" id="optionsTuesdayHalf" value="half">
                                        Half
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsTuesday" id="optionsTuesdayFull" value="full">
                                        Full
                                    </label>
                                </div>
                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsWednesday" id="optionsWednesdayNone" value="none" checked>
                                        None
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsWednesday" id="optionsWednesdayHalf" value="half">
                                        Half
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsWednesday" id="optionsWednesdayFull" value="full">
                                        Full
                                    </label>
                                </div>
                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsThursday" id="optionsThursdayNone" value="none" checked>
                                        None
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsThursday" id="optionsThursdayHalf" value="half">
                                        Half
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsThursday" id="optionsThursdayFull" value="full">
                                        Full
                                    </label>
                                </div>
                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsFriday" id="optionsFridayNone" value="none" checked>
                                        None
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsFriday" id="optionsFridayHalf" value="half">
                                        Half
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsFriday" id="optionsFridayFull" value="full">
                                        Full
                                    </label>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label for="startMonth" class="col-2 col-form-label">Start Month</label>
                <input class="form-control" type="month" id="startMonth">
            </div>
            <div class="form-group">
                <label for="endMonth" class="col-2 col-form-label">End Month</label>
                <input class="form-control" type="month" id="endMonth">
            </div>
            <button type="submit" class="btn btn-primary" onClick="createRateSchedule()">Submit</button>
        </form>
    </div>
</div>
<!-- /.container -->