<%- partial('partials/nav.ejs', {location: 'addrateschedule'}) %>

<div class="container">
    <h1>New Rate Schedule</h1>

    <div align="left">
        <form id="add-rate-schedule-form">
            <div class="form-group">
                <label for="add-rate-schedule-name">Name</label>
                <input type="text" class="form-control" id="add-rate-schedule-name" required>
            </div>
            <div class="form-group">
                <label for="add-rate-schedule-cost">Cost ($)</label>
                <input type="text" class="form-control" id="add-rate-schedule-cost" required>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </thead>
               <tbody align="left">
                    <tr>
                        <td>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-monday" value="none" checked>
                                        None
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-monday" value="half">
                                        Half
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-monday" value="full">
                                        Full
                                    </label>
                                </div>
                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-tuesday" value="none" checked>
                                        None
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-tuesday" value="half">
                                        Half
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-tuesday" value="full">
                                        Full
                                    </label>
                                </div>
                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-wednesday" value="none" checked>
                                        None
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-wednesday" value="half">
                                        Half
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-wednesday" value="full">
                                        Full
                                    </label>
                                </div>
                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-thursday" value="none" checked>
                                        None
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-thursday" value="half">
                                        Half
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-thursday" value="full">
                                        Full
                                    </label>
                                </div>
                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-friday" value="none" checked>
                                        None
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-friday" value="half">
                                        Half
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="add-options-friday" value="full">
                                        Full
                                    </label>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label for="add-rate-schedule-start-month">Start Month</label>
                <input class="form-control" type="month" id="add-rate-schedule-start-month" required>
            </div>
            <div class="form-group">
                <label for="add-rate-schedule-end-month">End Month</label>
                <input class="form-control" type="month" id="add-rate-schedule-end-month" required>
            </div>
            <button type="submit" class="btn btn-primary" onClick="createRateSchedule()">Submit</button>
        </form>
    </div>
</div>