<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">Foundations Preschool Scheduler</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="home">Home</a></li>
                <li><a href="students">Students</a></li>
                <li><a href="rateschedules">Rate Schedules</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a onClick="signOut();">Sign Out</a>
                </li>
            </ul>
<div class="g-signin2" style="display: none" data-onsuccess="onLogin"></div>
</div>

<!--/.nav-collapse -->
</div>
</nav>

<div class="container">

    <div>
        <br/>
        <br/>
        <br/>
        <h1>New Rate Schedule</h1>
    </div>

    <div align="left">
        <form onsubmit="submitRateSchedule()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <table class="table table-bordered table-striped">
            <tbody align="left">
                <thead>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </thead>
                <tr>
                    <td>
                        <input type="radio" name="monday" value="none" checked> None<br>
                        <input type="radio" name="monday" value="half"> Half<br>
                        <input type="radio" name="monday" value="full"> Full<br>
                    </td>
                    <td>
                        <input type="radio" name="tuesday" value="none" checked> None<br>
                        <input type="radio" name="tuesday" value="half"> Half<br>
                        <input type="radio" name="tuesday" value="full"> Full<br>
                    </td>
                    <td>
                        <input type="radio" name="wednesday" value="none" checked> None<br>
                        <input type="radio" name="wednesday" value="half"> Half<br>
                        <input type="radio" name="wednesday" value="full"> Full<br>
                    </td>
                    <td>
                        <input type="radio" name="thursday" value="none" checked> None<br>
                        <input type="radio" name="thursday" value="half"> Half<br>
                        <input type="radio" name="thursday" value="full"> Full<br>
                    </td>
                    <td>
                        <input type="radio" name="friday" value="none" checked> None<br>
                        <input type="radio" name="friday" value="half"> Half<br>
                        <input type="radio" name="friday" value="full"> Full<br>
                    </td>
                </tr>
            </tbody>
        </table>
            <div class="form-group">
                <label for="cost">Cost</label>
                <input type="text" class="form-control" id="cost" required>
            </div>
            <label for="startMonth" class="col-2 col-form-label">Start Month</label>
            <div class="col-10">
                <input class="form-control" type="month" id="startMonth" required>
            </div>
            <label for="endMonth" class="col-2 col-form-label">End Month</label>
            <div class="col-10">
                <input class="form-control" type="month" id="endMonth" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" onClick="submitRateSchedule()">Submit</button>
            </div>
        </form>
</div>
</div>
<!-- /.container -->