<%- partial('partials/nav.ejs', {location: 'addstudent'}) %>

<div class="container">
	<h1>New Student</h1>

	<div>
		<form id="add-student-form" onsubmit="addStudent(); return false;">
			<div class="form-group">
				<label for="add-student-name">Name *</label>
				<input type="text" required style="width:300px;" class="form-control" id="add-student-name" >
			</div>
			<div class="form-group">
				<label for="add-student-birth-date">Birthday *</label>
				<input class="form-control" type="date" id="add-student-birth-date" required style="width:300px;">
			</div>
			<div class="form-group">
				<label for="add-student-parent-name1">Parent/Guardian 1 *</label>
				<input type="text" class="form-control" id="add-student-parent-name-1" required style="width:300px;">
			</div>
			<div class="form-group">
				<label for="add-student-parent-name2">Parent/Guardian 2</label>
				<input type="text" class="form-control" id="add-student-parent-name-2" style="width:300px;">
			</div>
			<div class="form-group">
				<label for="add-student-parent-phone1">Phone Number *</label>
				<input type="text" class="form-control" id="add-student-parent-phone-1" required style="width:300px;">
			</div>
			<div class="form-group">
				<label for="add-student-parent-phone2">Alternate Phone Number</label>
				<input type="text" class="form-control" id="add-student-parent-phone-2" style="width:300px;">
			</div>
			<div class="form-group">
				<label for="add-student-physician-name">Physician Name *</label>
				<input type="text" class="form-control" id="add-student-physician-name" required style="width:300px;">
			</div>
			<div class="form-group">
				<label for="add-student-physician-phone">Physician Phone Number *</label>
				<input type="text" class="form-control" id="add-student-physician-phone" required style="width:300px;">
			</div>
			<button class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>

<head>
	<style>
		body {
			background-color: #ccefff;
		}

		h1 {
			color: #0047b3;
			margin-left: 40px;
		} 
		table {
			border-collapse: collapse;
			width: 100%;
		}

		th, td {
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even){background-color: #e6f0ff}
		tr:nth-child(odd){background-color: linen}

		th {
			background-color: #4CAF50;
			color: white;
		}

		button {
			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 10px 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}
	</style>
</head>