<%- partial('partials/nav.ejs', {location: 'addstudent'}) %>

<div class="container">
    <h1>New Student</h1>

    <div>
        <form>
            <div class="form-group">
                <label for="add-student-name">Name *</label>
                <input type="text" class="form-control" id="add-student-name" required>
            </div>
            <div class="form-group">
                <label for="add-student-birth-date">Birthday</label>
                <input class="form-control" type="date" id="add-student-birth-date" required>
            </div>
            <div class="form-group">
                <label for="add-parent-name1">Parent/Guardian 1</label>
                <input type="text" class="form-control" id="add-parent-name1" required>
            </div>
            <div class="form-group">
                <label for="add-parent-name2">Parent/Guardian 2</label>
                <input type="text" class="form-control" id="add-parent-name2">
            </div>
            <div class="form-group">
                <label for="add-parent-phone1">Phone Number</label>
                <input type="text" class="form-control" id="add-parent-phone1" required>
            </div>
            <div class="form-group">
                <label for="add-parent-phone2">Alternate Phone Number</label>
                <input type="text" class="form-control" id="add-parent-phone2">
            </div>
            <div class="form-group">
                <label for="add-physician-name">Physician Name</label>
                <input type="text" class="form-control" id="add-physician-name" required>
            </div>
            <div class="form-group">
                <label for="add-physician-phone">Physician Phone Number</label>
                <input type="text" class="form-control" id="add-physician-phone" required>
            </div>
            <div class="form-group">
                <label for="add-student-rate-schedules">Rate Schedule</label>
                <select id="add-student-rate-schedules" onchange="getDays(this.value)">
                      <option disabled selected value> -- select a rate schedule -- </option>
                </select>
            </div>

            
            <div class="day-box">
                <label for="monday-schedule">Monday</label>
                <fieldset class="form-group" id="monday-schedule">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsMonday" value="none" checked>
                                None
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsMonday" value="am">
                                AM
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsMonday" value="pm">
                                PM
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsMonday" value="full">
                                Full
                            </label>
                        </div>
                </fieldset>
            </div>
            <div class="day-box">
                <label for="tuesday-schedule">Tuesday</label>
                <fieldset class="form-group" id="tuesday-schedule">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsTuesday" value="none" checked>
                                None
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsTuesday" value="am">
                                AM
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsTuesday" value="pm">
                                PM
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsTuesday" value="full">
                                Full
                            </label>
                        </div>
                </fieldset>
            </div>
            <div class="day-box">
                <label for="wednesday-schedule">Wednesday</label>
                <fieldset class="form-group" id="wednesday-schedule">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsWednesday" value="none" checked>
                                None
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsWednesday" value="am">
                                AM
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsWednesday" value="pm">
                                PM
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsWednesday" value="full">
                                Full
                            </label>
                        </div>
                </fieldset>
            </div>
            <div class="day-box">
                <label for="thursday-schedule">Thursday</label>
                <fieldset class="form-group" id="thursday-schedule">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsThursday" value="none" checked>
                                None
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsThursday" value="am">
                                AM
                            </label>
                        </div>
                         <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsThursday" value="pm">
                                PM
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsThursday" value="full">
                                Full
                            </label>
                        </div>
                        </fieldset>
                        </div>
                         <div class="day-box">
                <label for="friday-schedule">Friday</label>
                <fieldset class="form-group" id="friday-schedule">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsFriday" value="none" checked>
                                None
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsFriday" value="am">
                                AM
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsFriday" value="pm">
                                PM
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsFriday" value="full">
                                Full
                            </label>
                        </div>
                </fieldset>
            </div>   


            <!--
            <div class="day-box">
                <label for="tuesday-schedule">Tuesday</label>
                <id="tuesday-schedule" onchange="getDays(this.value)">
            </div>
            <div class="day-box">
                <label for="wednesday-schedule">Wednesday</label>
                <id="wednesday-schedule" onchange="getDays(this.value)"></select>
            </div>
            <div class="day-box">
                <label for="thursday-schedule">Thursday</label>
                <id="thursday-schedule" onchange="getDays(this.value)"></select>
            </div>
            <div class="day-box">
                <label for="friday-schedule">Friday</label>
                <id="friday-schedule" onchange="getDays(this.value)"></select>
            </div>-->

            <div class="form-group">
                <label for="add-student-start-day">Start Date</label>
                <input class="form-control" type="date" id="add-student-start-day" required>
            </div>
            <div class="form-group">
                <label for="add-student-end-day">End Date</label>
                <input class="form-control" type="date" id="add-student-end-day" required>
            </div>
            <button type="submit" class="btn btn-primary" onClick="addStudent();">Submit</button>
        </form>
    </div>
</div>