<%- partial('partials/nav.ejs', {location: 'afterschoolactivities'}) %>

<div class="container">
    <div class="row">
        <table class="table table-bordered table-striped" id="afterschool-activity-table">
            <thead>
                <th>Afterschool Activity Name</th>
                <th>Cost</th>
            </thead>
            <tbody align="left">
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <button type="button"><a href="addafterschoolactivity">Add Afterschool Activity</a></button>
</div>