<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Foundations Preschool Scheduler</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="students">Students</a></li>
            </ul>
        </div>

        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div>
        <br/>
        <br/>
        <br/>
        <h1>Calendar View</h1>
    </div>

    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Month</th>
                    <th>AM Students</th>
                    <th>PM Students</th>
                </tr>
            </thead>

            <tbody align="left">
                <tr>
                    <td>January</td>
                    <td>8</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>8</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>March</td>
                    <td bgcolor="#F95E76">18</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>April</td>
                    <td>5</td>
                    <td bgcolor="#F95E76">64</td>
                </tr>
                <tr>
                    <td>May</td>
                    <td>3.14</td>
                    <td>-3</td>
                </tr>
                <tr>
                    <td>June</td>
                    <td>10</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>9</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>August</td>
                    <td bgcolor="#F95E76">13</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>September</td>
                    <td>9</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>October</td>
                    <td>10</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>November</td>
                    <td>2</td>
                    <td bgcolor="#F95E76">16</td>
                </tr>
                <tr>
                    <td>December</td>
                    <td>9</td>
                    <td bgcolor="#F95E76">61</td>
                </tr>
            </tbody>
        </table>
                
    </div>

</div>
<!-- /.container -->