<%- partial('partials/nav.ejs', {location: 'home'}) %>
<div class="container">
    <h1 id="yearHeader"></h1>
    <div class="row">
        <table class="table table-bordered table-striped" id="monthCalendar">
        </table>
        <div class="container">
            <ul class="pager">
                <li class="previous" id="previousYearButton">
                </li>
                <li class="next" id="nextYearButton">
                </a></li>
            </ul>
        </div>
    </div>
</div>