<%- partial('partials/nav.ejs', {location: 'home'}) %>
<div class="container">
    <h1>2017/2018 Schedule</h1>
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Month</th>
                    <th colspan="2">Monday</th>
                    <th colspan="2">Tuesday</th>
                    <th colspan="2">Wednesday</th>
                    <th colspan="2">Thursday</th>
                    <th colspan="2">Friday</th>
                </tr>
            </thead>

            <tbody align="left">
                <tr>
                    <td></td>
                    <th>AM</th>
                    <th>PM</th>
                    <th>AM</th>
                    <th>PM</th>
                    <th>AM</th>
                    <th>PM</th>
                    <th>AM</th>
                    <th>PM</th>
                    <th>AM</th>
                    <th>PM</th>
                </tr>
                <tr>
                    <td>September</td>
                    <td>9</td>
                    <td>3</td>
                    <td>9</td>
                    <td>3</td>
                    <td>9</td>
                    <td>3</td>
                    <td>9</td>
                    <td>3</td>
                    <td>9</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>October</td>
                    <td>10</td>
                    <td>4</td>
                    <td>10</td>
                    <td>4</td>
                    <td>10</td>
                    <td>4</td>
                    <td>10</td>
                    <td>4</td>
                    <td>10</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>November</td>
                    <td>2</td>
                    <td bgcolor="#F95E76">16</td>
                    <td>2</td>
                    <td bgcolor="#F95E76">16</td>
                    <td>2</td>
                    <td bgcolor="#F95E76">16</td>
                    <td>2</td>
                    <td bgcolor="#F95E76">16</td>
                    <td>2</td>
                    <td bgcolor="#F95E76">16</td>
                </tr>
                <tr>
                    <td>December</td>
                    <td>9</td>
                    <td bgcolor="#F95E76">61</td>
                    <td>9</td>
                    <td bgcolor="#F95E76">61</td>
                    <td>9</td>
                    <td bgcolor="#F95E76">61</td>
                    <td>9</td>
                    <td bgcolor="#F95E76">61</td>
                    <td>9</td>
                    <td bgcolor="#F95E76">61</td>
                </tr>
                <tr>
                    <td>January</td>
                    <td>8</td>
                    <td>6</td>
                    <td>8</td>
                    <td>6</td>
                    <td>8</td>
                    <td>6</td>
                    <td>8</td>
                    <td>6</td>
                    <td>8</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>8</td>
                    <td>6</td>
                    <td>8</td>
                    <td>6</td>
                    <td>8</td>
                    <td>6</td>
                    <td>8</td>
                    <td>6</td>
                    <td>8</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>March</td>
                    <td bgcolor="#F95E76">18</td>
                    <td>3</td>
                    <td bgcolor="#F95E76">18</td>
                    <td>3</td>
                    <td bgcolor="#F95E76">18</td>
                    <td>3</td>
                    <td bgcolor="#F95E76">18</td>
                    <td>3</td>
                    <td bgcolor="#F95E76">18</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>April</td>
                    <td>5</td>
                    <td bgcolor="#F95E76">64</td>
                    <td>5</td>
                    <td bgcolor="#F95E76">64</td>
                    <td>5</td>
                    <td bgcolor="#F95E76">64</td>
                    <td>5</td>
                    <td bgcolor="#F95E76">64</td>
                    <td>5</td>
                    <td bgcolor="#F95E76">64</td>
                </tr>
                <tr>
                    <td>May</td>
                    <td>3.14</td>
                    <td>-3</td>
                    <td>3.14</td>
                    <td>-3</td>
                    <td>3.14</td>
                    <td>-3</td>
                    <td>3.14</td>
                    <td>-3</td>
                    <td>3.14</td>
                    <td>-3</td>
                </tr>
                <tr>
                    <td>June</td>
                    <td>10</td>
                    <td>2</td>
                    <td>10</td>
                    <td>2</td>
                    <td>10</td>
                    <td>2</td>
                    <td>10</td>
                    <td>2</td>
                    <td>10</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>9</td>
                    <td>8</td>
                    <td>9</td>
                    <td>8</td>
                    <td>9</td>
                    <td>8</td>
                    <td>9</td>
                    <td>8</td>
                    <td>9</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>August</td>
                    <td bgcolor="#F95E76">13</td>
                    <td>1</td>
                    <td bgcolor="#F95E76">13</td>
                    <td>1</td>
                    <td bgcolor="#F95E76">13</td>
                    <td>1</td>
                    <td bgcolor="#F95E76">13</td>
                    <td>1</td>
                    <td bgcolor="#F95E76">13</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>

        <div class="container">
            <ul class="pager">
                <li class="previous">
                    <a href="#">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 2016/2017
                    </a>
                </li>
                <li class="next"><a href="#">2018/2019
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a></li>
            </ul>
        </div>
    </div>
</div>