<div class="container login-box">
	<div class="jumbotron">
		<h1 class="login-title">Foundations Preschool Scheduler</h1>
		<div class="g-signin2" align="center" data-onsuccess="onLogin"></div>
		<a class="sign-out" style="display: none" onClick="signOut();">Sign out</a>
	</div>
</div>
