<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">Foundations Preschool Scheduler</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="home">Home</a></li>
                <li><a href="students">Students</a></li>
                <li class="active"><a href="rateschedules">Rate Schedules</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a onClick="signOut();">Sign Out</a>
                </li>
            </ul>
            <div class="g-signin2" style="display: none" data-onsuccess="onLogin"></div>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
</br>
</br>
</br>
</br>
<div class="container">
    <div class="row">
        <table class="table table-bordered table-striped">
            <tbody align="left">
                <thead>
                    <th>Rate Schedule Name</th>
                    <th># Full Time Days</th>
                    <th># Half Time Days</th>
                    <th>Start Month</th>
                    <th>End Month</th>
                    <th>Cost</th>
                </thead>
                <tr>
                    <td>5 days full-time</td>
                    <td>5</td>
                    <td>0</td>
                    <td>August 2016</td>
                    <td>September 2017</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>4 days full-time</td>
                    <td>4</td>
                    <td>0</td>
                    <td>August 2016</td>
                    <td>September 2017</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>3 days full-time</td>
                    <td>3</td>
                    <td>0</td>
                    <td>August 2016</td>
                    <td>September 2017</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>2 days full-time</td>
                    <td>2</td>
                    <td>0</td>
                    <td>August 2016</td>
                    <td>September 2017</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>5 days part-time</td>
                    <td>0</td>
                    <td>5</td>
                    <td>August 2016</td>
                    <td>September 2017</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>3 days part-time</td>
                    <td>0</td>
                    <td>3</td>
                    <td>August 2016</td>
                    <td>September 2017</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>3 days full, 2 days part</td>
                    <td>3</td>
                    <td>2</td>
                    <td>August 2016</td>
                    <td>September 2017</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>2 days full, 3 days part</td>
                    <td>2</td>
                    <td>3</td>
                    <td>August 2016</td>
                    <td>September 2017</td>
                    <td>$100</td>
                </tr>
            </tbody>
        </table>
                
    </div>

</div>

</div>
<!-- /.container -->

<div class="container">
        <button type="button"><a href="addrateschedule">Add Rate Schedule</button>
</div>