<%- partial('partials/nav.ejs', {location: 'student'}) %>

<h1>Rachel Wood</h1>
<div class="container">
    <div class="row">
        <table class="table table-bordered table-striped">
            <tbody align="left">
                <tr>
                    <th>Birthdate</th>
                    <td>1/1/1995</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>1234 2nd St<br>Los Angeles, CA 91119</td>
                </tr>
                <tr>
                    <th>Parent/Guardian Names</th>
                    <td>John Wood, Mary Wood</td>
                </tr>
                <tr>
                    <th>Parent/Guardian Phone Number</th>
                    <td>(123) 456-7891</td>
                </tr>
                <tr>
                    <th>Physician Name</th>
                    <td>Dr. Doctor</td>
                </tr>
                <tr>
                    <th>Physician Phone Number</th>
                    <td>(123) 456-7891</td>
                </tr>
                <tr>
                    <th>Date Enrolled</th>
                    <td>1/1/2000</td>
                </tr>
                <tr>
                    <th>Date Left</th>
                    <td>N/A</td>
                </tr>
            </tbody>
        </table>            
    </div>
</div>