<%- partial('partials/nav.ejs', {location: 'student'}) %>

<h1>Rachel Wood</h1>
<div class="container">
    <div class="row">
        <table class="table table-bordered table-striped" id="student-info-table">
            <tbody align="left">
                <tr>
                    <th>Birthdate</th>
                    <td>1/1/1995</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>1234 2nd St<br>Los Angeles, CA 91119</td>
                </tr>
                <tr>
                    <th>Parent/Guardian Names</th>
                    <td>John Wood, Mary Wood</td>
                </tr>
                <tr>
                    <th>Parent/Guardian Phone Number</th>
                    <td>(123) 456-7891</td>
                </tr>
                <tr>
                    <th>Physician Name</th>
                    <td>Dr. Doctor</td>
                </tr>
                <tr>
                    <th>Physician Phone Number</th>
                    <td>(123) 456-7891</td>
                </tr>
                <tr>
                    <th>Rate Schedule</th>
                    <td>Full time as fuck</td>
                </tr>
                <tr>
                    <th>Date Enrolled</th>
                    <td>1/1/2000</td>
                </tr>
                <tr>
                    <th>Date Left</th>
                    <td>N/A</td>
                </tr>
            </tbody>
        </table>   
        <div style="clear:both;"></div>
        <h1>Students Weekly Schedule</h1>
        <table class="table table-bordered table-striped">
            <tbody align="left">
                <tr>
                    <th>Monday</th>
                    <td>AM classes</td>
                    <td>Afterschool activity: soccer</td>
                </tr>
                  <tr>
                    <th>Tuesday</th>
                    <td>PM classes</td>
                    <td>Afterschool activity: soccer</td>
                </tr>
                  <tr>
                    <th>Wednesday</th>
                    <td>full classes</td>
                    <td>Afterschool activity: soccer</td>
                </tr>
                  <tr>
                    <th>Thursday</th>
                    <td>AM classes</td>
                    <td>Afterschool activity: soccer</td>
                    
                </tr>
                  <tr>
                    <th>Friday</th>
                    <td>AM classes</td>
                    <td>Afterschool activity: soccer</td>
                </tr>
            </tbody>
        </table>  
    </div>
</div>