<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Foundations Preschool Scheduler</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="home">Home</a></li>
                <li class="active"><a href="students">Students</a></li>
            </ul>
        </div>

        <!--/.nav-collapse -->
    </div>
</nav>

</br>
</br>
</br>
</br>

<div class="container">
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Parent Name</th>
                    <th>Parent Contact</th>
                    <th>Student Schedule</th>
                </tr>
            </thead>

            <tbody align="left">
                <tr>
                    <td>Jeffrey Miller</td>
                    <td>Mizz Miller</td>
                    <td>MizzMills@yahoo.com</td>
                    <td>M, W</td>
                </tr>
                <tr>
                    <td>Joseph Goelz</td>
                    <td>Mama goelz</td>
                    <td>JosephIsBoring@yahoo.com</td>
                    <td>T, Th</td>
                </tr>
                <tr>
                    <td>Rachel Wood</td>
                    <td>Mama Wood</td>
                    <td>rwood@yahoo.com</td>
                    <td>T, Th</td>
                </tr>
                <tr>
                    <td>Tiffany Tjahehi</td>
                    <td>Mama Tjahedi</td>
                    <td>ttjahed@yahoo.com</td>
                    <td>T, Th</td>
                </tr>
                <tr>
                    <td>Regina George</td>
                    <td>Mama George</td>
                    <td>rgeorge@yahoo.com</td>
                    <td>M, W</td>
                </tr>
            </tbody>
        </table>
                
    </div>

</div>

<div class="container">
        <button type="button" onclick="alert('Add student under construction')">Add Student</button>
</div>



