<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">Foundations Preschool Scheduler</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="home">Home</a></li>
                <li><a href="students">Students</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a onClick="signOut();">Sign Out</a>
                </li>
            </ul>
            <div class="g-signin2" style="display: none" data-onsuccess="onLogin"></div>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
</br>
</br>
</br>
</br>
<h1>Rachel Wood</h1>
<div class="container">
    <div class="row">
        <table class="table table-bordered table-striped">
            <tbody align="left">
                <tr>
                    <th>Birthdate</th>
                    <td>1/1/1995</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>1234 2nd St<br>Los Angeles, CA 91119</td>
                </tr>
                <tr>
                    <th>Parent/Guardian Names</th>
                    <td>John Wood, Mary Wood</td>
                </tr>
                <tr>
                    <th>Parent/Guardian Phone Number</th>
                    <td>(123) 456-7891</td>
                </tr>
                <tr>
                    <th>Physician Name</th>
                    <td>Dr. Doctor</td>
                </tr>
                <tr>
                    <th>Physician Phone Number</th>
                    <td>(123) 456-7891</td>
                </tr>
                <tr>
                    <th>Date Enrolled</th>
                    <td>1/1/2000</td>
                </tr>
                <tr>
                    <th>Date Left</th>
                    <td>N/A</td>
                </tr>
            </tbody>
        </table>
                
    </div>

</div>

</div>
<!-- /.container -->