<%- partial('partials/nav.ejs', {location: 'students'}) %>

<div class="container">
    <div class="row">
        <table class="table table-bordered table-striped" id="students-table">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Parent Phone Number</th>
                    <th>Student Schedule</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody align="left">
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <button type="button"><a href="addstudent">Add Student</button>
</div>